.weather-card {
    width: calc(100% - 52px);
}

.weather-city {           
    font-size: 30px;
    margin-top: 10px;
}

.weather-actions {
    padding-left: 20px;

    .action {
        display: inline-flex;
        margin-right: 15px;
        color: #424242;
        cursor: pointer;

        > span {
            padding-top: 4px;
            padding-left: 2px;
        }
    }
}