<mat-toolbar color="primary" class="footer">
    <span class="footer-title">Desenvolvido por Samuel Cezar</span>
    <a href="https://github.com/SamuelPaimAraujoCezar" target="_blank" class="footer-icon">
        <img src="../../../../assets/img/github-logo.png" height="30">
    </a>
    <a href="https://www.linkedin.com/in/samuel-paim-ara%C3%BAjo-cezar-343767204/" target="_blank" class="footer-icon">
        <img src="../../../../assets/img/linkedin-logo.png" height="30">
    </a>
</mat-toolbar>
